table { border-collapse: collapse;}
table, th, td { border-left: 1px solid black; border-bottom: 1px solid black;}
th, td {
    padding: 5px;
    text-align: left; vertical-align: top;
}
tr.all { background-color: palegreen; }
tr.all td { border: 1px solid black; }
tr.other    { background-color: beige; }
td.chain { border: 1px solid red; }
td.target { border: 1px solid red; }

#btn{
    text-align: center;
    font-weight: 100;
}
..destinations
{
    width: 100%;
    background: #FFFFFF;
    padding-top: 115px;
    padding-bottom: 116px;
}
.section_subtitle
{
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #72728c;
    line-height: 0.75;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.section_title
{
    color: #181818;
    margin-top: 26px;
}
.destinations_row
{
    margin-top: 99px;
}
.destination_image
{
    width: 100%;
}
.destination_image img
{
    max-width: 100%;
}
.spec_offer
{
    position: absolute;
    top: 15px;
    left: 16px;
    width: 118px;
    height: 36px;
    background: #181818;
}
.spec_offer a
{
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 36px;
    font-weight: 400;
}
.destinations_container
{
    width: calc(100% + 30px);
    left: -15px;
}
.destination
{
    width: calc(100% / 3);
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 33px;
}
.destination_content
{

}
.destination_title
{
    margin-top: 15px;
    
}
.destination_title a
{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #181818;
}
.destination_subtitle #text
{
    margin-top: -4px;
}
.destination_price p
{
    font-size: 16px;
    font-weight: 700;
    color: #181818;
    margin-top: 16px;
}
