{% extends 'base.html'%}
{% load static %}
{% block css-external  %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
{% endblock css-external  %}

{% block script %}
    <script type="text/javascript " src="{% static 'js/bucket.js' %}"></script>
{% endblock script %}

{% block body%} 
<div class="col-9" style="float: left;">	

   {% for i in items %}
   <div class="card" style="width: 18rem;" >
  <div class="card-body" id="cards">
     <label  class="card-text" id="p-name" ><b><i>{{i.product_name}}</i></b></label> 
    <p class="card-text" >{{i.description}}</p>
    <label  class="card-text" id="p-price" >{{i.price}}</label> 
     
  </div>
  <div class="card" style="width:5rem;">
    <button  class="btn btn-outline-danger" type="button" onclick="test();" > Add</button>
  </div>
</div>
     
     	{% endfor %}
 </div> 
 <!--right side--> 
 <div class="container">
            <div class="tab-tab-1">
                <table id="table" border="3">
                  <tr>
                      <th>Product Name</th>
                      <th>Product Price</th>
                  </tr>
                    
                </table>
            </div>
 

		
{% endblock body %}