{% extends 'base.html'%}
{% load static %}


{% block body%} 
<div class="col-9" style="float: left;">	

   {% for i in items %}
   <div class="card" style="width: 18rem;" >
  <div class="card-body" id="cards">
     <label  class="card-text" id="p-name" value="">{{i.product_name}}</label> 
    <p class="card-text" >{{i.description}}</p>
    <label  class="card-text" id="p-price" value="">{{i.price}}</label> 
     <button  class="btn btn-outline-danger" type="submit" onclick="addHtmlTableRow();" > Add</button>
  </div>
</div>
     
     	{% endfor %}
 </div> 

 <!--right side--> 
 <div class="container">
            <div class="tab-tab-1">
                <table id="table" border="3">
                   <thead>
                       <tr>
                           <td>Product Name</td><br>
                           <td>Product Price</td>
                       </tr>
                       
                   </thead>
                    
                </table>
            </div>
 
<script type="text/javascript">
    function addHtmlTableRow()
            {
           // alert("Hello! I am an alert box!!");
            var table=document.getElementById("table");
            var newRow = table.insertRow(table.length);
            var   cell1 = newRow.insertCell(0);
            var   cell2 = newRow.insertCell(1);
            p_name=document.getElementById("p-naame");
            p_price=document.getElementById("p-price");
            cell1.innerHTML = p_name;
            cell2.innerHTML = p_price;
                
                
            }
</script>  	
		
{% endblock body %}