{% extends 'base.html'%}
{% block after_login %}
{% endblock %}
{% load static %}
{% block css-external  %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% endblock css-external  %}

{% block script %}
    <script type="text/javascript " src="{% static 'js/bucket.js' %}"></script>
{% endblock script %}

{% block body%}
<div class="col-6" style="float: left;">
    <div class="destinations" id="destinations">
            <div class="container">
                <div class="row">
                    <div class="col text-left">
                        <div class="section_title">
                            <h2>Products</h2>
                        </div>
                    </div>
                </div>
                <div class="row destinations_row">
                    <div class="col">
                        <div class="destinations_container item_grid">

                            {% for i in items %}
                            <!-- Destination -->
                            <div class="destination item">

                                <div class="destination_content">
                                    <div class="destination_title"><a href="#" id="p-name" data-product={{i.product_name}}>{{i.product_name}}</a>
                                    </div>
                                    <div class="destination_subtitle">
                                        <textarea disabled style="height: auto;width: auto;resize: none;border:double 4px white;">{{i.description}}</textarea>
                                    </div>
                                    <div class="destination_price"><p id="p-price" value="Price:" data-price={{i.price}}>   {{i.price}}₹</p></div>
                                </div>
                                 <div class="card" style="width:5rem;">
                                 <button  class="btn btn-outline-info" data-product={{i.product_name}} data-price={{i.price}} type="button" onclick="add_item(event);" > Add</button>
                                </div>
                            </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--Table to contain the product info-->
<div class="table-responsive">
    <div class="col text-left">
                        <div class="section_title">
                           <h2>your products are listed below</h2>
                        </div>
                    </div>

<table class="table-info table-striped" id="table">

  <thead>
    <tr class="table-success  table-hover">
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody id="tbody" class="table-danger">

  </tbody>
</table>
</div>





{% endblock body %}